<h1><%= @lesson.name %>:</h1>

<p>TEXT:<br><%= @lesson.text %><br>
  LESSON NUM:<br><%= @lesson.lesson %>
</p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Click here to edit this lesson</a></p>

<p><a href="/lessons/<%= @lesson.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/lessons/">Return to lesson listing</a></p>

<% if @lesson.next %>
  <a href="/lessons/<%= @lesson.next.id %>/">Click for next lesson</a></p>
<% end %>

<% if @lesson.previous %>
  <a href="/lessons/<%= @lesson.previous.id %>/">Click for previous lesson</a><p>
<% end %>
